@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    --primary-color: #292626;
    --primary-color-2: #333131;
    --secondary-color: #577BC1;
    --hover-socondary-color: #3f5b94;
    --hover-secondary-color-2: #9abdfd;
    --white-color: #F9F9F9;
    --white-color-2: #e6e6e6;
    --white-color-3: #c7c7c7;
}
html {
    scroll-behavior: smooth;
}
body{
    background: var(--primary-color);
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    color: var(--white-color);
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white-color);
}
.text-color{
    color: var(--secondary-color);
}
.bg-color{
    background: var(--hover-socondary-color);
}

.logo .img img{
    background: var(--secondary-color);
 border: solid 2px var(--secondary-color);
 border-radius: 50px;
 padding: 10px;
 box-shadow: 0 0 10px var(--hover-socondary-color),
             0 0 15px var(--hover-socondary-color);
}
.logo .img img:hover{
    
    box-shadow: 0 0 10px var(--hover-secondary-color-2),
             0 0 15px var(--hover-secondary-color-2);
}

.banner {
    width: 100%;
    height: 100vh;
}

.banner .col {
    height: 100vh;
}

.banner .col-8 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.btn-blue {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-blue-2 {
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
}

.btn-blue:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    box-shadow: 0 0 10px var(--hover-socondary-color);
}

.btn-blue-2:hover {
    border: solid 1px var(--white-color);
    color: var(--white-color);
    box-shadow: 0 0 10px var(--hover-socondary-color);
}

.banner .col-izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .col-izquierda i {
    color: var(--secondary-color);
    font-size: 25px;
    padding: 3px;
    border: solid 2px var(--primary-color);
}

.banner .col-izquierda i:hover {
    color: var(--white-color);
    border: solid 2px var(--white-color);
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 10px var(--hover-socondary-color);
}


.banner .col-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .col-derecha i {
    color: var(--secondary-color);
    font-size: 25px;
    padding: 3px;
    border: solid 2px var(--primary-color);
}

.banner .col-derecha i:hover {
    color: var(--white-color);
    border: solid 2px var(--white-color);
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 10px var(--hover-socondary-color);
}

.menu {
    
    background-color: rgba(87,123,193,.8);
    border: solid 1px var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--hover-socondary-color),
                0 0 15px var(--hover-socondary-color);
    width: 60vw;
    height: 50px;
    text-align: center;
    bottom: 0;
    margin-bottom: 20px;
    z-index: 30;
}
.menu a{
    font-size: 25px;
    color: var(--white-color);
}
.menu a:hover{
    font-size: 25px;
    
    text-shadow: 0 0 10px var(--hover-socondary-color),
                 0 0 15px var(--white-color);
}
.menu i{
    margin-top: 12px;
}
/******************/
.menu-movil {
    
    background-color: rgba(87,123,193,.8);
    border: solid 1px var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--hover-socondary-color),
                0 0 15px var(--hover-socondary-color);
    width: 80vw;
    height: 50px;
    text-align: center;
    bottom: 0;
    margin-bottom: 20px;
    z-index: 30;
}
.menu-movil a{
    font-size: 25px;
    color: var(--white-color);
}
.menu-movil a:hover{
    font-size: 25px;
    
    text-shadow: 0 0 10px var(--hover-socondary-color),
                 0 0 15px var(--white-color);
}
.menu-movil i{
    margin-top: 12px;
}



.sobre-mi li{
    color: var(--white-color-2);
}
.sobre-mi p{
    color: var(--white-color-2);
}
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white-color-2);
}
  
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--secondary-color);
    position: relative;
}
  
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
  
.resume .resume-item h5 {
    font-size: 16px;
    background: var(--white-color-3);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
  
.resume .resume-item ul {
    padding-left: 20px;
}
  
.resume .resume-item ul li {
    padding-bottom: 10px;
}
  
.resume .resume-item:last-child {
    padding-bottom: 0;
}
  
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--white-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 10px var(--hover-socondary-color);
}

.skills{
    background: var(--primary-color-2);
}
.tecnologias .contenedor{
    margin-top: 10px;
    border: solid 2px #577BC1;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--hover-socondary-color);
}
.tecnologias .contenedor .habilidades{
    padding: 10px;
}

.contacto .col-md-4{
    margin-top: 20px;
}
.contacto .contacto-iconos{
    border: solid 2px var(--primary-color-2);
    border-radius: 10px;
    background: var(--primary-color-2);
    padding: 15px;
    
}
.contacto .contacto-iconos i{
    color: var(--white-color-2);
}
.contacto .contacto-iconos a{
    color: var(--secondary-color);
    text-decoration: none;
}
.contacto .contacto-iconos a:hover{
    color: var(--hover-socondary-color);
}

footer{
    background: var(--hover-socondary-color);
}
.menu-footer a{
    text-decoration: none;
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
}
.menu-footer a:hover{
    color: var(--white-color-3);
}
.social-footer a{
    color: var(--white-color);
    text-decoration: none;
}
.social-footer a:hover{
    color: var(--white-color-3);
}